
<div  style="width: 750px; height: 150px; background: #666666;">
    <div id="emailInfo"  style="width:100%; height:30px; display: flex; flex-direction: row; justify-content: center; align-items: center; color:#FFFFFF;">Podaj swój mail</div>

    <div style="width:100%; height:30px; display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top:10px;">
        <input id="emailInput" type="text" placeholder="imie.nazwisko@domena"/>
    </div>
    <div id="emailWaitInfo"  style="width:100%; height:30px; display: flex; flex-direction: row; justify-content: center; align-items: center; color:#FFFFFF;"></div>
    <div style="width:100%; height:30px; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <button id="emailSubmit" style="width:100px; height:20px;" ng-click="mailModalSubmit()">Potwierdź</button>
        <button id="emailCancel" style="width:100px; height:20px; marginLeft:10px;" ng-click="mailModalCancel()" >Anuluj</button>
    </div>
</div>