@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
    width: 960px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.searchTerm {
    float: left;
    width: 700px;
    border: 1px solid #00B4CC;
    height: 58px;
    border-radius: 5px;
    color: #9DBFAF;
}


.searchButton {
    width: 65px;
    height: 65px;
    border: 1px solid #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
