<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width"/>

        <script src="lib/angular.min.js"></script>

        <style type="text/css">
            #header {
                font-size: 20px;
                width: 90%;
                height: 20px
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }

            #root {
                font-size: 12px;
                width: 60%;
                height: 1155px;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body>
        <div id="root">
            <div id="header">
                Solenizat - strona główna
            </div>

            <img src="img/background_transparent.png"/>
        </div>
    </body>
</html>
