<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <link rel="stylesheet" href="/main.css" />
    <style type="text/css">
      #react {
        font-size: 12px;
        width: 60%;
        height: 1050px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #0066cc;
        border-radius: 12px;
      }
    </style>
</head>
<body>

    <div id="react"></div>
    <script src="built/bundle.js"></script>

</body>
</html>